
.intro-area {
    display: flex;
    justify-content: space-between;
}

.intro-text-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4vw;
    box-sizing: border-box;
}

.intro-text {
    line-height: 30px;
    margin-top: 1vw;
}

.intro-logo-parent {
    width: 50%;
    overflow: hidden;
}

.intro-logo-child {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    transition-timing-function: ease;
}

.intro-logo-parent:hover .intro-logo-child,
.intro-logo-parent:focus .intro-logo-child {
  transform: scale(1.05);
}

.join-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vw;
    background: linear-gradient(to right, var(--secondary-color), var(--tertiery-color));
}

.social-icon a img {
    width: 4rem;
    transition: width 300ms ease;
}

.social-icon a img:hover {
    width: 4.5rem;
}

.vl {
    border-left: 2px solid var(--main-bg-color);
    height: 65px;
    margin: 20px 0px;
}

.more-area {
    display: flex;
    align-items: center;
    line-height: 28pt;
}

.features-area {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features-text {
    position: absolute;
    font-size: xx-large;
    opacity: 0;
    transition: 0.3s;
}

.features-image {
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.features-area:hover .features-image{
    filter: brightness(0.4);
}

.features-area:hover .features-text{
    opacity: 1;
}

.request-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    padding: 4vw;
    box-sizing: border-box;
}

.request-button {
    font-weight: 600;
    padding: 15px;
    margin-top: 2vw;
    color: var(--main-bg-color);
    background: linear-gradient(to right, var(--secondary-color), var(--tertiery-color));
    border: none;
}

button:hover {
    transition: all 0.3s ease-in-out;
    filter: brightness(1.2);
}

@media (max-width: 1024px) {

    * {
        font-size: small;
    }

    .intro-text {
        line-height: 25px;
    }

    .social-icon a img {
        width: 3rem;
    }
    
    .vl {
        height: 40px;
    }
}

@media (max-width: 728px) {
    .intro-area {
        flex-direction: column;
    }

    .intro-text-area {
        width: 100%;
        padding: 6vw 4vw;
    }

    .intro-text {
        line-height: 20px;
    }

    .intro-logo-parent {
        width: 100%;
    }

    .intro-logo-parent:hover .intro-logo-child,
    .intro-logo-parent:focus .intro-logo-child {
    transform: none;
    }

    .join-list {
        height: 12vh;
    }
    
    .more-area {
        flex-direction: column;
        text-align: center;
    }

    .features-area {
        width: 100%;
    }

    .request-area {
        width: 100%;
        height: 30vh;
    }

    .request-text {
        line-height: 20px;
    }
}