@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --main-header-color: #0B0C10;
    --main-bg-color: #1F2833;
    --main-text-color: #C5C6C7;
    --secondary-color: #d18d12;
    --tertiery-color: #597329;
}

html *
{
    color: var(--main-text-color);
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    padding: 0%;
    list-style-type:none;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.home {
    width: 70%;
    right: 0%;
    background-color: var(--main-bg-color);
}

.intro-area {
    display: flex;
    justify-content: space-between;
}

.intro-text-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-text {
    line-height: 30px;
    margin: 1vw 4vw;
}

.intro-logo-parent {
    width: 50%;
    overflow: hidden;
  }

.intro-logo-child {
    width: 100%;
    height: 100%;
    transition: 0.7s;
    transition-timing-function: ease;
}

.intro-logo-parent:hover .intro-logo-child,
.intro-logo-parent:focus .intro-logo-child {
  transform: scale(1.05);
}

.join-area {
    background: linear-gradient(to right, var(--secondary-color), var(--tertiery-color));
}

.join-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vw;
}

.social-icon a img {
    width: 4rem;
    transition: width 300ms ease;
}

.social-icon a img:hover {
    width: 4.5rem;
}

.vl {
    border-left: 2px solid var(--main-bg-color);
    height: 65px;
    margin: 20px 0px;
}

.more-area {
    display: flex;
    align-items: center;
    line-height: 28pt;
}

.features-area {
    width: 50%;
}

.features-text {
    margin: 4vw 2vw;
}

.request-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    background: var(--main-header-color);
}

.request-text {
    margin: 4vw 4vw 2vw;
}

.request-button {
    font-weight: 600;
    padding: 15px 20px;
    margin: 0px 4vw 4vw;
    color: var(--main-bg-color);
    background: linear-gradient(to right, var(--secondary-color), var(--tertiery-color));
    border: none;
}

button:hover {
    transition: all 0.3s ease-in-out;
    filter: brightness(1.2);
}